@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@0;1&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* universal elements */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #05112C;
    overscroll-behavior: none;
}

/* main sections container */

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #3E92CC;
    background-image: url(assets/pokemon_background.png);
    max-width: 1000px;
    margin: 0 auto;
    background-size: 200vw;
    background-repeat: repeat;
    background-attachment: fixed;
    animation: moveIt 240s linear infinite;
}

@keyframes moveIt {
    from { background-position: bottom left; }
    to { background-position: top right; }
  }

header {
    display: flex;
    justify-content: center;
    background: #FFFAFF;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

header img {
    filter: drop-shadow(0px 0px 2px #3E92CC);
    height: 10rem;
}

header img:hover {
    filter: drop-shadow(0px 0px 4px #D8315B)
}

main {
    background: #FFFAFF;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}

.grid {
    display: grid;
    grid: none / repeat(4, 1fr);
    width: 100%;
    gap: 1rem
}

.grid div {
    padding: 1rem;
    display: grid;
    grid: 7fr 1fr / 1fr 1fr;
    border-radius: 5px;
    border: 20px solid blue;
    border: 2px dashed black;
    align-items: center;
    background-color: white;
    transition: 1s ease-in-out;
}

.grid div:hover {
    scale: 1.2;
    transition: 1s ease-in-out;
}

/* .grid div:hover {
    scale: 2;
    rotate: 90deg;
    transition: 1s ease-in-out;
}

.grid div:hover img,
.grid div:hover h3 {
    rotate: -90deg;
    scale: 0.8;
    transition: 1s ease-in-out;
} */

.grid div h3 {
    font-size: 1.5rem;
    text-align: start;
}

.grid div i {
    font-size: 2rem;
    text-align: end;
}

.grid img {
    grid-area: 1 / 1 / none / span 2;
    height: 15vw;
    width: 100%;
    margin-bottom: 1rem;
}
