@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@0;1&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* universal elements */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #05112C;
    overscroll-behavior: none;
}

/* main sections container */

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #3E92CC;
    background-image: url(assets/pokemon_background.png);
    max-width: 1000px;
    margin: 0 auto;
    background-size: 200vw;
    background-repeat: repeat;
    background-attachment: fixed;
    animation: moveIt 240s linear infinite;
}

@keyframes moveIt {
    from { background-position: bottom left; }
    to { background-position: top right; }
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #FFFAFF;
    padding: 0.5rem;
    border-radius: 1rem 1rem 0 0;
    margin-top: 1rem;
}

header div {
    padding: 1rem 2rem 0 3rem;
}

header div:last-child {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    gap: 0.8rem;
}

.search_bar {
    grid-area: 1 / 1 / 1 / span 2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.search_bar input {
    font-size: 1.9rem;
    border: 2px dashed black;
    border-radius: 5px;
}

header button {
    padding: 0.5rem;
    border: 2px dashed black;
    background-color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
}

header button:hover {
    scale: 1.1;
    transition: 1s ease-in-out;
}

header img {
    filter: drop-shadow(0px 0px 2px #3E92CC);
    height: 10rem;
}

header img:hover {
    filter: drop-shadow(0px 0px 4px #D8315B)
}

main {
    background: #FFFAFF;
    padding: 2rem;
    padding-top: 0.5rem;
    min-height: 100vh;
}

.grid {
    display: grid;
    grid: none / repeat(4, 1fr);
    width: 100%;
    gap: 1rem
}

.grid div {
    padding: 1rem;
    border-radius: 5px;
    border: 2px dashed black;
    background-color: white;
    display: grid;
    grid: 7fr 1fr / 1fr 1fr;
    align-items: center;
    transition: 1s ease-in-out;
}

.grid div:hover {
    scale: 1.1;
    transition: 1s ease-in-out;
}

.grid div h3 {
    font-size: 1.5rem;
    text-align: start;
    transition: 1s ease-in-out;
}

.grid div i {
    font-size: 2rem;
    text-align: end;
    transition: 1s ease-in-out;
}

.grid img,
.grid info {
    grid-area: 1 / 1 / none / span 2;
    height: 15vw;
    width: 100%;
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

.blur {
    filter: grayscale(1) opacity(15%) contrast(0%);
}

info {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.3;
    text-shadow: 0 0 5px white;
    z-index: 2;
    font-size: 0.8rem;
}

footer {
    display: flex;
    align-items: center;
    position: sticky;
    bottom: -0.20rem;
    background-color: white;
    border: 2px black;
    border-style: dashed none none none;
    padding: 0.2rem;
}

footer img {
    height: 1rem;
    margin-left: 0.5rem;
}